.block {
  min-height: 100vh;
  color: white;
}

.blockContent {
  padding-top: 0px !important;
}

.event_dates {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
}

.junctionDescription {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900 !important;
  font-size: 30px;
}

.raise {
  color: #00FF99;
}
