.block {
  color: white;
  background: black;
}

.blockContent {
  padding-top: 0px !important;
}

.timeline {
  max-width: 100%;
  margin:auto;
  padding-top: 50px;
  text-align: center;
}

.picCont {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.picCont1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
