.head {
  color: white !important;
  background-color: black !important;
  border: 0 !important;
  border-bottom: 0 !important;
  text-align: center;
}

.head h1 {
  color: white !important;
  background-color: black !important;
  border: 0 !important;
  border-bottom: 0 !important;
  text-align: center;
}

.head div {
  text-align: center;
  margin: auto;
  width: 100%;
  -webkit-box-pack: center;
}

.block1 {
  color: black;
  background-color: white;
}

.block {
  color: white;
  background-color: black;
  border: 0 !important;
  border-bottom: 0 !important;
  text-align: center;
  margin: auto;
}
